body {
  margin: 0;
}

/* ================== HEADER SECTION ================= */
.banner {
  background-color: orangered;
  /* height: 80px;
  width: 100%;
  display: flex; */
}

.left-banner {

}

.center-banner {

}

.right-banner {

}