body {
  margin: 0;
}

.check {
  border: 1px solid goldenrod;
}

/* ================== HEADER SECTION ================= */
.banner {
  background-color: #f72210;
}

.logo-newsweek {
  height: 80%;
  width: 100%;
}

.fa-user {
  color: #fdc8c3;
}

.fa-bars {
  color: #fb9b93;
}

.navbar-toggler {
  color: #fb9b93;
}

.navbar-toggler-icon {
  color: #fb9b93;
}

.search-size {
  width: 2%;
}

.search-btn {
  width: 10%;
}

/* ===================== TOP ARTICLES ============= */

.section-title {
  color: gray;
}

.small-stories {
  margin-bottom: 5%;
}

.debate {
  border: none;
  border-top: 4px solid grey;
}

.vs {
  height: 4px;
  border: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.vs-circle {
  position: absolute;
  height: 40px;
  width: 40px;
  color: white;
  background-color: black;
  left: 40%;
  border-radius: 100%;
  text-align: center;
}

.mt-0 {
  font-size: 17px;
}

/* ===================== IN THE MAGAZINE ============ */

.section-header {
  color: gray;
  text-align: center;
}

.logo {
  width: 35px;
  height: 35px;
}

.background-news {
  background-color: orangered;
}

.text-news {
  color: orangered;
  padding-left: 2%;
}

/* =========================== PROMO =============================== */

.newslett-img {
  height: 100%;
}

.red-logo {
  width: 280px;
}

.badge-light {
  background: none !important;
}

.badge-light:hover {
  background: none !important;
}
