body {
  margin: 0;
}

/* ================== HEADER SECTION ================= */
.banner {
  background-color: #f72210 !important;
  /* height: 80px;
  width: 100%;
  display: flex; */
}

.left-banner {

}

.center-banner {

}

.right-banner {

}

.logo-newsweek {
  /* width: 450px; */
}

.fa-user {
  color: #fdc8c3;
}

.fa-bars {
  color: #fb9b93
}

.navbar-toggler {
  color: #fb9b93;
}

.navbar-toggler-icon {
  color: #fb9b93;
}